address: "0x35bd452c37d28beca42097cfd8ba671c8dd430a1"
topics: []
table_name: "records"
# type, column name, data name, no data name means data name equals to column name
# "decode#data" means decode data
# type can be "string", "integer", "bigint", "text"
# we'll save ["string", "transactionHash"] and ["string", "blockNumber"] for check unique log
columns:
  - ["string", "data"]
  - ["string", "blockHash", "blockHash"]
  - ["string", "block_number", "blockNumber"]

# address => string
# string => string
# uint256 => integer, bigint, string
decode:
  abi_inputs:
    [{
      "indexed": false,
      "name": "_sender",
      "type": "address"
      }, {
      "indexed": false,
      "name": "_text",
      "type": "string"
    }, {
      "indexed": true,
      "name": "_time",
      "type": "uint256"
    }]
  names: ["sender", "text", "time"]
  column_types: ["string", "string", "bigint"]

